<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroZ ForgotPassword</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="position: fixed;">
    <div class="container">
        <img class="svg" src="/static/images/Rectangle.png" alt="SVG image">
        <header>
            <img class="logo" src="/static/images/logo.png" alt="AgroZ Logo" />

            <div class="navbar">
                <a href="/Login"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </header>

        <h1 class="signup-login" style="margin-top: 90px;font-size: 50px;">FORGOT PASSWORD</h1>

        <div class="signup-login_container">
            <form action="http://127.0.0.1:5000/forgot-password" method="post">
                
                <input type="email" name="email" placeholder="Email Address" required>
                <br />
                {% if error_msg %}
                <p class="error-message">{{ error_msg }}</p>
                <br />
                {% endif %}
                <input type="submit" value="Submit">
            </form>
        </div>

</body>

</html>